@import "variables.scss";
@import "mixins.scss";

// Global Components
body {
    overflow-x: hidden;
    @include body-font;
}

.text-muted {
    color: $gray-light;
}

.text-primary {
    color: $theme-primary;
}

p {
    font-size: 0.875rem; /* 14/16 */
    line-height: 1.75;
}

p.large {
    font-size: 1rem;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
}

a {
    color: $theme-primary;
}

a:hover,
a:focus,
a:active,
a.active {
    color: darken($theme-primary, 10%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-font;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: $gray-lighter;
}

.bg-darkest-gray {
    background-color: $gray-darker;
}

// Restyled Primary Buttons
.btn-primary {
    @include button-variant(white, $theme-primary, $theme-primary);
    @include heading-font;
    font-weight: 700;
}

.btn-xl {
    @include button-variant(white, $theme-primary, $theme-primary);
    @include heading-font;
    font-weight: 700;
    border-radius: 0.1875rem; /* 3/16 */
    font-size: 1.125rem; /* 18/16 */
    padding: 1.25rem 2.5rem; /* 20/16 */ /* 40/16 */
}

// Custom Navigation Bar
.navbar-custom {
    background-color: $gray-darker;
    border-color: transparent;
    .navbar-brand {
        color: $theme-primary;
        .yellow-logo {
            height: 7.5rem; /* 120/16 */
            width: auto;
            padding-bottom: 0.75rem; /* 12/16 */
        }

        @include script-font;
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: darken($theme-primary, 10%);
        }
    }
    .navbar-collapse {
        border-color: fade-out(white, .02);
        margin-right: 2.875rem;
    }
    .navbar-toggle {
        padding: 0rem 0.625rem; /* 0/16 */ /* 10/16 */
        background-color: $theme-primary;
        border-color: $theme-primary;
        @include heading-font;
        color: white;
        font-size: 0.75rem; /* 12/16 */
        &:hover,
        &:focus {
            background-color: $theme-primary;
        }
    }
    .nav {
        li {
            a {
                @include heading-font;
                font-weight: 400;
                letter-spacing: 0.0625rem; /* 1/16 */
                color: white;
                &:hover,
                &:focus {
                    color: $theme-primary;
                    outline: none;
                }
            }
        }
    }
    .navbar-nav>.active>a {
        border-radius: 0;
        color: white;
        background-color: $theme-primary;
    }
    .navbar-nav>.active>a:hover,
    .navbar-nav>.active>a:focus {
        color: white;
        background-color: darken($theme-primary, 10%);
    }
}

@media(min-width:48rem) { /* 768/16 */
    .navbar-custom {
        background-color: transparent;
        padding: 1.5625rem 0; /* 25/16 */
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
        .navbar-brand {
            font-size: 2rem;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        .navbar-nav>.active>a {
            border-radius: 0.1875rem; /* 3/16 */
        }
    }
}

// Navbar Change on Scroll
@media(min-width:48rem) { /* 768/16 */
    .navbar-custom.affix {
        background-color: $gray-darker;
        padding: 0.625rem 0; /* 10/16 */
        .navbar-brand {
            font-size: 1.5rem;
        }
    }
}

header {
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    @include background-cover;
    text-align: center;
    color: white;
    .intro-text {
        padding-top: 6.25rem; /* 100/16 */
        padding-bottom: 3.125rem; /* 50/16 */
        .intro-lead-in {
            @include serif-font;
            font-style: italic;
            font-size: 1.375rem; /* 22/16 */
            line-height: 1.375rem; /* 22/16 */
            margin-bottom: 1.5625rem; /* 25/16 */
        }
        .intro-heading {
            @include heading-font;
            font-weight: 700;
            font-size: 3.125rem; /* 50/16 */
            line-height: 3.125rem; /* 50/16 */
            margin-bottom: 1.5625rem; /* 25/16 */
        }
    }
}

@media(min-width:48rem) { /* 768/16 */
    header {
        .intro-text {
            padding-top: 18.75rem; /* 300/16 */
            padding-bottom: 12.5rem; /* 200/16 */
            .intro-lead-in {
                @include serif-font;
                font-style: italic;
                font-size: 2.5rem; /* 40/16 */
                line-height: 2.5rem; /* 40/16 */
                margin-bottom: 1.5625rem; /* 25/16 */
            }
            .intro-heading {
                @include heading-font;
                font-weight: 700;
                font-size: 4.6875rem; /* 75/16 */
                line-height: 4.6875rem; /* 75/16 */
                margin-bottom: 3.125rem; /* 50/16 */
            }
        }
    }
}

// Global Section Styles
section {
    padding: 6.25rem 0; /* 100/16 */
    h2.section-heading {
        font-size: 2.5rem; /* 40/16 */
        margin-top: 0;
        margin-bottom: 0.9375rem; /* 15/16 */
    }
    h3.section-subheading {
        font-size: 1rem;
        @include serif-font;
        text-transform: none;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 4.6875rem; /* 75/16 */
    }
}

@media(min-width:48rem) { /* 768/16 */
    section {
        padding: 9.375rem 0; /* 150/16 */
    }
}

// Services Section
.service-heading {
    margin: 0.9375rem 0; /* 15/16 */
    text-transform: none;
}

// Portfolio Section
#portfolio {
    .portfolio-item {
        margin: 0 0 0.9375rem; /* 15/16 */
        right: 0;
        .portfolio-link {
            display: block;
            position: relative;
            max-width: 25rem; /* 400/16 */
            margin: 0 auto;
            .portfolio-hover {
                background: fade-out($theme-primary, .9);
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all ease 0.5s;
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                &:hover {
                    opacity: 1;
                }
                .portfolio-hover-content {
                    position: absolute;
                    width: 100%;
                    height: 1.25rem; /* 20/16 */
                    font-size: 1.25rem; /* 20/16 */
                    text-align: center;
                    top: 50%;
                    margin-top: -0.75rem; /* 12/16 */
                    color: white;
                    i {
                        margin-top: -0.75rem; /* 12/16 */
                    }
                    h3,
                    h4 {
                        margin: 0;
                    }
                }
            }
        }
        .portfolio-caption {
            max-width: 25rem; /* 400/16 */
            margin: 0 auto;
            background-color: white;
            text-align: center;
            padding: 1.5625rem; /* 25/16 */
            h4 {
                text-transform: none;
                margin: 0;
            }
            p {
                @include serif-font;
                font-style: italic;
                font-size: 1rem;
                margin: 0;
            }
        }
    }
    * {
        z-index: 2;
    }
}

@media(min-width:47.9375rem) { /* 767/16 */
    #portfolio {
        .portfolio-item {
            margin: 0 0 1.875rem; /* 30/16 */
        }
    }
}

// Timeline
.timeline {
    list-style: none;
    padding: 0;
    position: relative;
    &:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: "";
        width: 0.125rem; /* 2/16 */
        background-color: #f1f1f1;
        left: 2.5rem; /* 40/16 */
        margin-left: -1.0.3125rem; /* 5/16 */
    }
    >li {
        margin-bottom: 3.125rem; /* 50/16 */
        position: relative;
        min-height: 3.125rem; /* 50/16 */
        &:before,
        &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
        .timeline-panel {
            width: 100%;
            float: right;
            padding: 0 1.25rem 0 6.25rem; /* 20/16 */ /* 100/16 */
            position: relative;
            text-align: left;
            &:before {
                border-left-width: 0;
                border-right-width: 0.9375rem; /* 15/16 */
                left: -0.9375rem; /* 15/16 */
                right: auto;
            }
            &:after {
                border-left-width: 0;
                border-right-width: 0.875rem; /* 14/16 */
                left: -0.875rem; /* 14/16 */
                right: auto;
            }
        }
        .timeline-image {
            left: 0;
            margin-left: 0;
            width: 5rem; /* 80/16 */
            height: 5rem; /* 80/16 */
            position: absolute;
            z-index: 100;
            background-color: $theme-primary;
            color: white;
            border-radius: 100%;
            border: 0.4375rem solid #f1f1f1; /* 7/16 */
            text-align: center;
            h4 {
                font-size: 0.625rem; /* 10/16 */
                margin-top: 0.75rem; /* 12/16 */
                line-height: 0.875rem; /* 14/16 */
            }
        }
        &.timeline-inverted>.timeline-panel {
            float: right;
            text-align: left;
            padding: 0 1.25rem 0 6.25rem; /* 20/16 */ /* 100/16 */
            &:before {
                border-left-width: 0;
                border-right-width: 0.9375rem; /* 15/16 */
                left: -0.9375rem; /* 15/16 */
                right: auto;
            }
            &:after {
                border-left-width: 0;
                border-right-width: 0.875rem; /* 14/16 */
                left: -0.875rem; /* 14/16 */
                right: auto;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .timeline-heading {
        h4 {
            margin-top: 0;
            color: inherit;
            &.subheading {
                text-transform: none;
            }
        }
    }
    .timeline-body {
        >p,
        >ul {
            margin-bottom: 0;
        }
    }
}

@media(min-width:48rem) { /* 768/16 */
    .timeline {
        &:before {
            left: 50%;
        }
        >li {
            margin-bottom: 6.25rem; /* 100/16 */
            min-height: 6.25rem; /* 100/16 */
            .timeline-panel {
                width: 41%;
                float: left;
                padding: 0 1.25rem 1.25rem 1.875rem; /* 20/16 */ /* 20/16 */ /* 30/16 */
                text-align: right;
            }
            .timeline-image {
                width: 6.25rem; /* 100/16 */
                height: 6.25rem; /* 100/16 */
                left: 50%;
                margin-left: -3.125rem; /* 50/16 */
                h4 {
                    font-size: 0.8125rem; /* 13/16 */
                    margin-top: 1rem;
                    line-height: 1.125rem; /* 18/16 */
                }
            }
            &.timeline-inverted>.timeline-panel {
                float: right;
                text-align: left;
                padding: 0 1.875rem 1.25rem 1.25rem; /* 30/16 */ /* 20/16 */ /* 20/16 */
            }
        }
    }
}

@media(min-width:62rem) { /* 992/16 */
    .timeline {
        >li {
            min-height: 9.375rem; /* 150/16 */
            .timeline-panel {
                padding: 0 1.25rem 1.25rem; /* 20/16 */ /* 20/16 */
            }
            .timeline-image {
                width: 9.375rem; /* 150/16 */
                height: 9.375rem; /* 150/16 */
                margin-left: -4.6875rem; /* 75/16 */
                h4 {
                    font-size: 1.125rem; /* 18/16 */
                    margin-top: 1.875rem; /* 30/16 */
                    line-height: 1.625rem; /* 26/16 */
                }
            }
            &.timeline-inverted>.timeline-panel {
                padding: 0 1.25rem 1.25rem; /* 20/16 */ /* 20/16 */
            }
        }
    }
}

@media(min-width:75rem) { /* 1200/16 */
    .timeline {
        >li {
            min-height: 10.625rem; /* 170/16 */
            .timeline-panel {
                padding: 0 1.25rem 1.25rem 6.25rem; /* 20/16 */ /* 20/16 */ /* 100/16 */
            }
            .timeline-image {
                width: 10.625rem; /* 170/16 */
                height: 10.625rem; /* 170/16 */
                margin-left: -5.3125rem; /* 85/16 */
                h4 {
                    margin-top: 2.5rem; /* 40/16 */
                }
            }
            &.timeline-inverted>.timeline-panel {
                padding: 0 6.25rem 1.25rem 1.25rem; /* 100/16 */ /* 20/16 */ /* 20/16 */
            }
        }
    }
}

// Team Section
.team-member {
    text-align: center;
    margin-bottom: 3.125rem; /* 50/16 */
    img {
        margin: 0 auto;
        border: 0.4375rem solid white; /* 7/16 */
    }
    h4 {
        margin-top: 1.5625rem; /* 25/16 */
        margin-bottom: 0;
        text-transform: none;
    }
    p {
        margin-top: 0;
    }
}

// Clients Aside
aside.clients {
    img {
        margin: 3.125rem auto; /* 50/16 */
    }
}

// Contact Section
section#contact {
    background-color: $gray-darker;
    background-image: url('../img/map-image.png');
    background-position: center;
    background-repeat: no-repeat;
    .section-heading {
        color: white;
    }
    h3.section-subheading {
        color: #FFF;
    }
    .form-group {
        margin-bottom: 1.5625rem; /* 25/16 */
        input,
        textarea {
            padding: 1.25rem; /* 20/16 */
        }
        input.form-control {
            height: auto;
        }
        textarea.form-control {
            height: 14.75rem; /* 236/16 */
        }
    }
    .form-control:focus {
        border-color: $theme-primary;
        box-shadow: none;
    }
     ::-webkit-input-placeholder {
        @include heading-font;
        font-weight: 700;
        color: $gray-lighter;
    }
     :-moz-placeholder {
        /* Firefox 18- */
        @include heading-font;
        font-weight: 700;
        color: $gray-lighter;
    }
     ::-moz-placeholder {
        /* Firefox 19+ */
        @include heading-font;
        font-weight: 700;
        color: $gray-lighter;
    }
     :-ms-input-placeholder {
        @include heading-font;
        font-weight: 700;
        color: $gray-lighter;
    }
    .text-danger {
        color: $theme-danger;
    }
}

// Footer
footer {
    padding: 1.5625rem 0; /* 25/16 */
    text-align: center;
    span.copyright {
        line-height: 2.5rem; /* 40/16 */
        @include heading-font;
        text-transform: none;
    }
    ul.quicklinks {
        margin-bottom: 0;
        line-height: 2.5rem; /* 40/16 */
        @include heading-font;
        text-transform: none;
    }
}

// Social Buttons
ul.social-buttons {
    margin-bottom: 0;
    li {
        a {
            display: block;
            background-color: $gray-darker;
            height: 2.5rem; /* 40/16 */
            width: 2.5rem; /* 40/16 */
            border-radius: 100%;
            font-size: 1.25rem; /* 20/16 */
            line-height: 2.5rem; /* 40/16 */
            color: white;
            outline: none;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            &:hover,
            &:focus,
            &:active {
                background-color: $theme-primary;
            }
        }
    }
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}

.portfolio-modal {
    .modal-dialog {
        margin: 0;
        height: 100%;
        width: auto;
    }
    .modal-content {
        border-radius: 0;
        background-clip: border-box;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        min-height: 100%;
        padding: 6.25rem 0; /* 100/16 */
        text-align: center;
        h2 {
            margin-bottom: 0.9375rem; /* 15/16 */
            font-size: 3rem;
        }
        p {
            margin-bottom: 1.875rem; /* 30/16 */
        }
        p.item-intro {
            margin: 1.25rem 0 1.875rem; /* 20/16 */ /* 30/16 */
            @include serif-font;
            font-style: italic;
            font-size: 1rem;
        }
        ul.list-inline {
            margin-bottom: 1.875rem; /* 30/16 */
            margin-top: 0;
        }
        img {
            margin-bottom: 1.875rem; /* 30/16 */
        }
    }
    .close-modal {
        position: absolute;
        width: 4.6875rem; /* 75/16 */
        height: 4.6875rem; /* 75/16 */
        background-color: transparent;
        top: 1.5625rem; /* 25/16 */
        right: 1.5625rem; /* 25/16 */
        cursor: pointer;
        &:hover {
            opacity: 0.3;
        }
        .lr {
            height: 4.6875rem; /* 75/16 */
            width: 0.0625rem; /* 1/16 */
            margin-left: 2.1875rem; /* 35/16 */
            background-color: $gray-darker;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            /* IE 9 */
            -webkit-transform: rotate(45deg);
            /* Safari and Chrome */
            z-index: 1051;
            .rl {
                height: 4.6875rem; /* 75/16 */
                width: 0.0625rem; /* 1/16 */
                background-color: $gray-darker;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                /* IE 9 */
                -webkit-transform: rotate(90deg);
                /* Safari and Chrome */
                z-index: 1052;
            }
        }
    }
    .modal-backdrop {
        opacity: 0;
        display: none;
    }
    .navbar-header {
        .navbar-brand {
            padding: 0;
            .yellow-logo {
                height: 100%;
                width: auto;
                top: 10%;
                transform: translateY(10%);
                padding-bottom: 0;
            }
        }
    }
}

// Highlight Color Customization
::-moz-selection {
    text-shadow: none;
    background: $theme-primary;
}

::selection {
    text-shadow: none;
    background: $theme-primary;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: $theme-primary;
}